{% extends "base.html" %}

{% block content %}

<div class="lists-centered-container">
    <h3>Delete confirmation</h3>
    {% if is_user %}
        <p>Do you really want to delete the user with email {{ object.email }} ?</p>
    {% else %}
        <p>Do you really want to delete the group with name {{ object.name }} ?</p>
    {% endif %}

    <form method="post" action="{{ action_url }}">
        {% csrf_token %}

         {% if user.is_manager %}
             <a href="{% url 'manager-list' %}" class="btn btn-outline-dark">Back</a>
         {% else %}
             <a href="{% url 'user-list' %}" class="btn btn-outline-dark">Back</a>
         {% endif %}

        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>

{% endblock %}
