{% extends "base.html" %}

{% block content %}

<div class="lists-centered-container-11">
    <h3>Delete confirmation</h3>
    {% if is_user %}
        <p>Do you really want to delete the user " {{ object.email }} "?</p>
    {% else %}
        <p>Do you really want to delete the group " {{ object.name }} "?</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <a href="{% url 'main_page' %}" class="btn btn-secondary">Back</a>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>

{% endblock %}
