{% extends "base.html" %}

{% block content %}

<div class="d-flex align-items-center justify-content-center" style="height: 100vh; border-radius: 30px;">

    <div class="add-entity-centered-container">

        <h2>Edit</h2>
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}

            <div class="form-group">
                {% for field in form %}
                    <div class="mb-3">
                        <label class="small mb-1" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="error">{{ field.errors.0 }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="d-flex justify-content-between mt-4">
                {% if user.is_manager %}
                    <button onclick="location.href='{% url 'manager-list' %}'" class="btn btn-outline-dark">Back</button>
                {% else %}
                    <button onclick="location.href='{% url 'user-list' %}'" class="btn btn-outline-dark">Back</button>
                {% endif %}

                <button type="submit" class="btn btn-outline-success">Edit</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}
