{% extends "base.html" %}

{% block content %}

<div class="d-flex align-items-center justify-content-center" style="height: 100vh; border-radius: 30px;">
    <div class="lists-centered-container-11">
        <h2>{{ title }}</h2>
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}

            <div class="form-row">
                {% for field in form %}
                    <div class="col-md-6">
                        <label class="small mb-1" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="error">{{ field.errors.0 }}</div>
                        {% endif %}
                    </div>

                    {% if forloop.counter|divisibleby:2 and not forloop.last %}
                        </div>
                        <div class="form-row">
                    {% endif %}
                {% endfor %}
            </div>
            <h3>Notes</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created</th>
{#                        <th>Created by</th>#}
                    </tr>
                </thead>
                <tbody>
                     {% for note in notes %}
                        <tr>
                            <td>{{ note.name }}</td>
                            <td>{{ note.description }}</td>
                            <td>{{ note.created }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="d-flex justify-content-between mt-4">
                <button onclick="location.href='{% url 'choose-list' %}'" class="btn btn-outline-dark">Back</button>
                <button type="submit" class="btn btn-outline-success">{{ button_label }}</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}
