{% extends "base.html" %}

{% block content %}

    <div class="lists-centered-container">

        <h2>Events</h2>
        {% for message in messages %}
            <p class="text-danger">{{ message }}</p>
        {% endfor %}

        <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Users count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.id }}</td>
                    <td>{{ group.name }}</td>
                    <td>{{ group.description }}</td>
                    <td>{{ group.users_count }}</td>
                    {% if user.is_manager %}
                        <td>
                            <a href="{% url 'group-edit' group.id %}" class="btn btn-outline-info">Edit</a>
                            <a href="{% url 'group-delete' group.id %}" class="btn btn-outline-danger">Delete</a>
                        </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'join-group' group.id %}" class="btn btn-outline-info">Enter</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <div class="d-flex justify-content-between w-100 mt-3">
            <button onclick="location.href='{% url 'choose-list' %}'" class="btn btn-outline-dark">Back</button>
            <button onclick="location.href='{% url 'group-add' %}'" class="btn btn-outline-success">Add event</button>
        </div>
    </div>

{% endblock %}
