{% extends "base.html" %}

{% block content %}
<div class="main-buttons-container-who">

    <h2 class="choice-title">Who you are?</h2>

    {% if user.is_authenticated %}
        <button onclick="location.href='{% url 'user-list' %}'" class="rounded-button-who">User</button>
    {% else %}
         <button onclick="location.href='{% url 'user-register' %}'" class="rounded-button-who">User</button>
    {% endif %}

    {% if user.is_authenticated %}
        <button onclick="location.href='{% url 'user-list' %}'" class="rounded-button-who">Manager</button>
    {% else %}
         <button onclick="location.href='{% url 'manager-register' %}'" class="rounded-button-who">Manager</button>
    {% endif %}

</div>
{% endblock %}

