{% extends "base.html" %}

{% block content %}

    <div class="lists-centered-container-11">

        <h2>Group of Users</h2>
        {% for message in messages %}
            <p class="text-danger">{{ message }}</p>
        {% endfor %}

        <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Users count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.description }}</td>
                <td>{{ group.users_count }}</td>
                <td>
                    <a href="{% url 'group_edit_logic' group.id %}" class="btn btn-outline-info">Edit</a>
                    <a href="{% url 'group_delete_logic' group.id %}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <div class="d-flex justify-content-between w-100 mt-3">
            <button onclick="location.href='{% url 'main_page' %}'" class="btn btn-outline-dark">Back</button>
            <button onclick="location.href='{% url 'group_add_logic' %}'" class="btn btn-outline-success">Add group</button>
        </div>
    </div>

{% endblock %}
