{% extends "base.html" %}

{% block content %}

    <div class="lists-centered-container">
        <h2>List of Users</h2>
        <ul class="lists-on-center-page">
            {% for user in users %}
                <li>{{ user.username }} - {{ user.email }}</li>
            {% endfor %}
        </ul>
        <button onclick="location.href='{% url 'main_page' %}'" class="btn btn-outline-danger">Back</button>
        <button onclick="location.href='{% url 'user_add_page' %}'" class="btn btn-outline-success">Add user</button>
    </div>

{% endblock %}
